
.sidebar {
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    min-height: 100vh;
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 900;
}

.sidebarCollapsed {
    width: 80px;
}

.navLink {
    color: #000000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
}

.icon {
    margin-right: 10px;
}

.navLinkHoverActive {
    color: #00b14f !important;
}

.linkText {
    font-weight: bold;
}

.linkTextHidden {
    display: none;
}

.content {
    flex: 1;
    padding: 80px 20px 20px;
    transition: margin-left 0.3s;
}

.contentCollapsed {
    margin-left: 80px;
}

.contentDefault {
    margin-left: 250px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #212f3f;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

.navbarBrand {
    display: flex;
    align-items: center;
}

.headerIcons {
    margin-left: auto;
}

.headerIcon {
    font-size: 1.2em;
    color: #ffffff;
    margin-right: 15px;
}
