.customQuill {
    position: relative;
    scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
    -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE và Edge */
    width: 100% !important;
    padding: 0 !important;
}

:global(.ql-editor) {
    overflow-y: scroll;
    max-height: 50rem;
    min-height: 10rem;
}

:global(.ql-editor::-webkit-scrollbar-thumb) {
    background-color: #d2d2d7;
    border-radius: 1.2rem;
}

:global(.ql-tooltip) {
    left: 1rem !important; /* Ví dụ chỉnh sửa */
    background-color: #f9f9f9; /* Tùy chỉnh màu nền */
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
}