
:root {
    --success-color: #28a745;
    --secondary-color: #6c757d;
    --hover-color: #e2e6ea;
    --disabled-color: #ccc;
    --text-dark: #333;
    --text-medium: #555;
    --text-light: #888;
}

.btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: white;
}

.btn-outline-secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    background-color: var(--hover-color);
    border-color: #5a6268; /* Kết quả của `darken($secondary-color, 10%)` */
}

.btn-filter {
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.btn-filter-active {
    background-color: #00b14f;
    color: white;
}


.job-card {
    border: none;
    border-radius: 8px;
}


.job-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-dark);
}

.company-name {
    font-size: 14px;
    color: var(--text-medium);
}

.job-salary,
.job-location {
    font-size: 13px;
    color: var(--text-light);
}

.pagination span {
    font-size: 14px;
    font-weight: 500;
}

.pagination button {
    border: none;
    background-color: transparent;
    color: #007bff;
}

.pagination button:disabled {
    color: var(--disabled-color);
}
.tippy-box[data-placement^=left]>.tippy-arrow {
    left: 500px;
}